.doc {
  color: #f7a582;
  font-family: Source Sans 3;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-logo-text {
  color: #07332F;;
  font-family: Source Sans 3;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
