.star-color {
  color: #f78a5b;
}
.designation {
  color: #6c6b6b;
}
.view-profile {
  border-radius: 10px;
  border: 1px solid #f7a582;
  background: #f7a582;
  color: #fff;
  font-family: Source Sans 3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 14px 0;
}
.view-profile:hover {
  border-radius: 10px;
  border: 1px solid #f7a582;
  background-color: transparent;
  color: #f7a582;
}
